[L]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
Assets/AssetStoreTools*

/.vs/

Exported Obj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

*.pidv,meta

sysinfo.txt

*.apk
*.unitypackage
